.full {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prevention-container {
	@extend .full;
	@extend .flex-center;
	overflow: visible;
	transition:
		background 200ms,
		opacity 200ms,
		box-shadow 200ms,
		border 200ms,
		filter 200ms,
		backdrop-filter 200ms;
	&.hidden {
		pointer-events: none;
		opacity: 0;
	}
	.prevention-banner {
		border-radius: 12px;
		padding: 12px;
		margin: 12px;
		font-size: calc(14px + 0.3vw);
		line-height: calc(17px + 0.3vw);
		text-align: center;
	}
}
