.minimap-container {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: flex;
	pointer-events: none;
	transition: transform 200ms;
	&.collapsed {
		transform: translateX(calc(100% - 32px));
	}
}

.toggle-minimap {
	margin: auto 10px 0 0;
	pointer-events: auto;
	.collapsed & {
		transform: rotate(180deg);
	}
}

.minimap {
	position: relative;
	pointer-events: none;
	width: 200px;
	height: 150px;
	overflow: hidden;
	border-radius: 12px;
	transform-origin: 0 0;
	.minimap-canvas {
		width: 100%;
		height: 100%;
	}
	.viewport-rectangle {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		border-radius: 6px;
		box-sizing: border-box;
		border: 2px dashed var(--text);
	}
}

.container {
	@container (max-width: 768px) {
		.minimap {
			transform: scale(0.6);
		}
		.toggle-minimap {
			transform: translateY(-60px);
			.collapsed & {
				transform: translateY(-60px) rotate(180deg);
			}
		}
		.minimap-container {
			transform: translateY(60px) translateX(80px);
			&.collapsed {
				transform: translateY(60px) translateX(calc(100% - 32px));
			}
		}
	}
}
