.full {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.border-shadow-bg {
	background: var(--background-secondary);
	border: 1px solid var(--border);
	box-shadow: var(--shadow);
}

.collapse-button {
	border-radius: 8px;
	transition:
		transform 200ms,
		background-color 200ms;
	&:hover {
		background-color: var(--border);
	}
}

button {
	cursor: pointer;
	font-size: 18px;
	height: 32px;
	border: none;
	transition: var(--containerTransition);
	text-align: center;
	width: 32px;
	padding: 5px 0px;
	svg {
		width: 100%;
		height: 100%;
	}
}

.container {
	--contentTransition: color 200ms, opacity 200ms, text-shadow 200ms, fill 200ms;
	--containerTransition:
		background 200ms, opacity 200ms, box-shadow 200ms, border 200ms, filter 200ms,
		backdrop-filter 200ms;
	color: var(--text);
	fill: var(--text);
	stroke: var(--text);
	background-color: var(--background);
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&.numb,
	&.numb * {
		pointer-events: none !important;
	}
}

.main-canvas {
	width: 100%;
	height: 100%;
	transform-origin: top left;
}

.overlays {
	position: absolute;
	transform-origin: top left;
	will-change: transform;
}

// #region Overlays
.overlay-container {
	position: absolute;
	box-sizing: border-box;
	border-radius: 12px;
	overflow: hidden;
	user-select: none;
	contain: strict;
	content-visibility: auto;
	box-shadow: var(--shadow);
	background-color: var(--overlay-card);
	transition: var(--containerTransition);
	.overlay-border {
		box-sizing: border-box;
		pointer-events: none;
		position: absolute;
		color: var(--overlay-border);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-width: 1px;
		border-style: solid;
		border-radius: 12px;
		transition: var(--containerTransition);
	}
	&.active {
		user-select: auto;
		pointer-events: auto;
		.overlay-border {
			border: 4px solid var(--overlay-active);
		}
	}
}

.overlay-container {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
	}
	&.active img {
		pointer-events: auto;
	}
}

.overlay-container {
	&.markdown-content {
		@extend .flex-center;
		position: absolute;
		padding: 0 7px;
		&.rtl {
			direction: rtl;
			text-align: right;
		}
	}
	.parsed-content-wrapper {
		font-family: sans-serif;
		box-sizing: border-box;
		max-width: 100%;
		max-height: 100%;
		padding: 10px 6px;
		pointer-events: none;
		overflow: hidden;
		scrollbar-gutter: stable both-edges;
		display: flex;
		flex-direction: column;
		gap: 12px;
		@supports not (scrollbar-gutter: stable both-edges) {
			padding: 10px;
		}
	}
	&.active .parsed-content-wrapper {
		overflow: auto;
	}
}

.overlay-container {
	.link-iframe,
	.audio {
		@extend .full;
		border: none;
		background: transparent;
	}
	.click-layer {
		@extend .full;
		background: transparent;
		pointer-events: auto;
	}
	&.active .click-layer {
		pointer-events: none;
	}
}
// #endregion =====================================================================

// #region HTML Fundamentals
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.25);
	&:hover {
		background: rgba(30, 30, 30, 0.75);
	}
}

// basic HTML styles
p {
	font-size: 16px;
	line-height: 21px;
}

.parsed-content-wrapper img {
	width: 100%;
	border-radius: 8px;
}

h1 {
	font-size: 25px;
}
h2 {
	font-size: 23px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 17px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
	margin: 0;
}

h1,
h2 {
	font-weight: 800;
}

h3,
h4 {
	font-weight: 700;
}

h5,
h6 {
	font-weight: 600;
}

code {
	background: rgba(255, 255, 255, 0.1);
	padding: 2px 4px;
	border-radius: 8px;
	pre & {
		display: block;
		box-sizing: border-box;
		width: 100%;
	}
}

pre:has(code),
table {
	margin: 6px 0;
}

strong {
	color: rgb(254, 142, 124);
}

em {
	color: rgb(90, 255, 178);
}

a {
	text-decoration: none;
	color: rgb(109, 173, 208);
	font-weight: 800;
	font-style: italic;
	cursor: pointer;
	transition: var(--contentTransition);
	&:hover {
		color: rgb(134, 211, 253);
	}
}

hr {
	height: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
}

li {
	margin: 5px 0;
}

ul {
	padding-left: 16px;
}

ol {
	padding-left: 15px;
	padding-right: 7.5px;
}

table {
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	th,
	td {
		border: 1px solid rgba(255, 255, 255, 0.2);
		padding: 6px 10px;
		background: rgba(255, 255, 255, 0.06);
		text-align: left;
	}
	th {
		background: rgba(255, 255, 255, 0.12);
		font-weight: bold;
	}
}
// #endregion =====================================================================
