.controls {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	transition: transform 200ms;
	border-radius: 8px;
	gap: 10px;
	&.collapsed {
		transform: translateX(calc(100% - 32px));
	}
	&.collapsed .collapse-button {
		transform: rotate(180deg);
	}
	.controls-content {
		display: flex;
		gap: 1px;
		align-items: center;
		border-radius: 8px;
		overflow: hidden;
		background: var(--border);
		box-shadow: var(--shadow);
		outline: 1px solid var(--border);
	}
	button {
		background-color: var(--background-secondary);
		&:hover {
			background: var(--border);
		}
	}
}

.zoom-slider {
	width: 100px;
	margin: 0 10px;
}
